 ------
 Introduction
 ------
 Jeff Caddel
 ------
 2011-01-02
 ------
 
${project.name}
  
  ${project.description}

* Example Graphs

  * {{{./graph/logging/slf4j/linked.png}Graph #1}} shows the logging dependencies of this plugin using LINKED mode
  
  * {{{./graph/logging/slf4j/flat.png}Graph #2}} is the same graph drawn in FLAT mode 
  
  * {{{./dependency-graphs.html}The dependency graphs}} report has more examples, including the full dependency tree for this plugin. 
  
* Plugin Documentation

  * {{{./plugin-info.html}Plugin goals}} support generating a single graph, multiple graphs, or generating a report during Maven site generation. 

  