#*
 * Copyright 2011-2012 The Kuali Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.opensource.org/licenses/ecl2.php
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
 ------
 Introduction
 ------
 Jeff Caddel
 ------
 2011-01-02
 ------
 
${project.name}
  
  ${project.description}
  
  There are free, stable, and mature executables for Linux, Mac, Solaris, and Windows available for download from {{{http://www.graphviz.org/}http://www.graphviz.org/}} 

* Example Graphs

  * {{{./graph/logging/klog/linked.png}Graph #1}} shows dependencies on logging libraries used by this plugin
  
  * {{{./graph/logging/klog/flat.png}Graph #2}} is the same graph drawn in FLAT mode with duplicate dependencies being displayed.
  
  * {{{./graph/transitive/all/linked.png}Graph #3}} is the complete transitive dependency tree for this plugin (aka "the transitive closure")  

    [[a]] This is the default type of graph produced by the plugin when no customizations are applied.
       
    [[a]] Dependences are styled according to their scope and optional settings.
      
    [[a]] Anywhere Maven's conflict resolution logic decides to replace a dependency is highlighted with a red line labeled "conflict"  
  
  * The {{{./dependency-graphs.html}Dependency Graphs}} report has a more comprehensive set of examples. 
  
* Plugin Documentation

  * {{{./plugin-info.html}Plugin goals}} support generating a single graph, multiple graphs, and generating a report during Maven site generation. 

  