 ------
 Introduction
 ------
 Jeff Caddel
 ------
 2011-01-02
 ------
 
${project.name}
  
  ${project.description}

* Example Graphs

  * {{{./graph/logging/slf4j/linked.png}Graph #1}} shows dependencies on logging libraries used by this plugin
  
  * {{{./graph/logging/slf4j/flat.png}Graph #2}} is the same graph drawn in FLAT mode 
  
  * {{{./graph/transitive/all/linked.png}Graph #3}} is the complete transitive closure for the dependencies of this plugin 
  
  * The {{{./dependency-graphs.html}project information}} report has a more comprehensive set of examples. 
  
* Plugin Documentation

  * {{{./plugin-info.html}Plugin goals}} support generating a single graph, multiple graphs, and generating a report during Maven site generation. 

  